<div class="container-wrapper">
  <div class="card-wrapper">
    <div class="card">
      <img src="{{firstGame.imgPath ? firstGame.imgPath : 'https://store-images.s-microsoft.com/image/apps.31281.64256825846959382.44b5bc43-437a-4414-83ca-b41ba9e7764a.86abb8aa-f419-4a90-b6aa-cf79b4228f06'}}" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{firstGame.title}}</b></h4> 
        <p>{{firstGame.summary}}</p> 
      </div>
    </div>
    <div class="star-container">
      <img class="star-img" src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="">
      <img class="star-img" src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="">
      <img class="star-img" src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="">
    </div>
    <p class="rated">1° Mais bem votado</p>
  </div>
  <div class="card-wrapper">
    <div class="card">
      <img src="{{secondGame.imgPath ?secondGame.imgPath : 'https://store-images.s-microsoft.com/image/apps.31281.64256825846959382.44b5bc43-437a-4414-83ca-b41ba9e7764a.86abb8aa-f419-4a90-b6aa-cf79b4228f06'}}"  alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{secondGame.title}}</b></h4> 
        <p>{{secondGame.summary}}</p> 
      </div>
    </div>
    <div class="star-container">
      <img class="star-img" src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="">
      <img class="star-img" src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="">
    </div>
    <p class="rated">2° Mais bem votado</p>
  </div>
  <div class="card-wrapper">
    <div class="card">
      <img src="{{thirdGame.imgPath ?thirdGame.imgPath : 'https://store-images.s-microsoft.com/image/apps.31281.64256825846959382.44b5bc43-437a-4414-83ca-b41ba9e7764a.86abb8aa-f419-4a90-b6aa-cf79b4228f06'}}"  alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{thirdGame.title}}</b></h4> 
        <p>{{thirdGame.summary}}</p> 
      </div>
    </div>
    <div class="star-container">
      <img class="star-img" src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="">
    </div>
    <p class="rated">3° Mais bem votado</p>
  </div>
</div>
