.container-wrapper {
  display: flex;
  justify-content: space-around;
}

.card-wrapper {
  width: 24%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.star-img {
  margin-top: 1em;
  max-width: 4em;
}
.container-wrapper-star {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}

.star-container {
  display: flex;
  justify-content: left;
}

.rated {
  margin-left: .4em;
  margin-top: .4em;
  font-size: 1.6em;
}