.games-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 10em;
  max-width: 90%;
}

.titulo-consoles {
  margin-top: 1em;
  font-size: 2em;
}

.console-container { 
  width: 16em;
  cursor: pointer;
}
.console-container img { 
  width: 100%;
}

#xbox {
  width: 18%;
}

#play {
  width: 22%;
}

#switch {
  margin-top: 4em;
  width: 21%;
}

#pc {
  margin-top: 7em;
  width: 26%;
}