<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img class="kratos-mini" src="assets/img/kratos-mini.png" alt="Imagem">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                {{ icon }}
            </i> 
            {{ title }}
        </a>
    </span>
    <span class="example-spacer"></span>
    <div class="cadastro">
        <button mat-icon-button class="example-icon person-icon" [matMenuTriggerFor]="menu">
            <mat-icon>login</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Fazer login</button>
            <button mat-menu-item (click)="registrar()">Registrar</button>
        </mat-menu>
    </div>
    <span>Login</span>
  </mat-toolbar>