table {
    width: 100%;
}

.example-container {
    height: 320px;
    overflow: auto;
}

.edit {
    margin-right: 10px;
}

.edit>i {
    color: #06d6a0;
}

.delete {
    margin-right: 10px;
}

.delete>i {
    color: #e35e6b;
}

td {
    width: calc(100%/6);
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-card {
    margin-bottom: 10px;
}